<h2>Show item</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @item.name %>
  </li>

  <img src="data:<%= @item.photo_type %>;base64,<%= :base64.encode(@item.photo) %>">
</ul>

<%= link "Edit", to: item_path(@conn, :edit, @item) %>
<%= link "Back", to: item_path(@conn, :index) %>
